<!DOCTYPE html>
<html>
<head>
  <title>CmisSample</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="topbar">
  <div class="topbar-inner">
    <div class="container">
      <h3><%= link_to "CMIS Explorer", "/cmis/" %></h3>
      <ul class="nav">
        <li><%= link_to "aegif", "http://aegif.jp/" %></li>
        <li><%= link_to "Alfresco", "http://alfresco.com/" %></li>
      </ul>
    </div>
  </div>
</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>

<%= yield %>


<div class="row">
  <div class="span4 offset12"><a href="http://aegif.jp/">
      <img src="/aegif.gif" border="0" height="50" />
  </div>
</div>

</body>
</html>
